*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: $text-color;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

// .logo-links {
//  color: #afb1b8;
// }

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  outline: 2px solid red;

  @include for-size(mobile) {
    width: 480px;
  }
  @include for-size(tablet) {
    width: 768px;
  }
  @include for-size(desktop) {
    width: 1200px;
  }
}

// @include for-size(mobile) {
//  background: pink;
// }

// @include for-size(tablet) {
//  background: orange;
// }

// @include for-size(desktop) {
//  background: green;
// }

// @media screen and (max-width: 767px) {
//  .container {
//   width: 767px;
//  }
// }

// @media screen and (min-width: 768px) {
//  .container {
//   width: 768px;
//   background: orange;
//  }
// }

// @media screen and (min-width: 1200px) {
//  .container {
//   width: 1200px;
//   background: pink;
//  }
// }

// .nav-header {
//  background: yellow;

//  @include for-size(mobile) {
//   background: pink;
//  }

// @include for-size(desktop) {
//  background: green;
// }

// .occupation {
//  @include for-size(tablet) {
//   background: orange;
//  }
// }

// .team-container {
//  @include for-size(desktop) {
//   background: green;
//  }
