.footer {
 background: #2F303A;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {

 .footer {
  display: flex;
  flex-wrap: wrap;
 }

 .box-adress {
  text-align: center;
  width: calc(50% + 15px - 76px * 2);
  margin-left: calc(76px - 15px);
  margin-right: 76px;
 }

 .box-links {
  text-align: center;
  width: calc(50% + 15px - 89px * 2);
  margin-left: 89px;
  margin-right: calc(89px - 15px);

 }

 .box-emeil {
  text-align: center;
  width: 100%;
  margin-left: calc(166px - 15px);
  margin-right: calc(166px - 15px);
  margin-top: -54px;
 }
}


@media screen and (min-width: 1200px) {
 .footer {
  display: flex;

  background: #2f303a;
 }

 .box-adress {
  width: 270px;
  margin-right: 30px;
 }

 .logo-footer {
  margin-top: 60px;
  margin-bottom: 20px;
 }

 address {
  font-style: normal;
 }

 .contacts li:not(:last-child) {
  margin-bottom: 9px;
 }

 .contacts li:last-child {
  margin-bottom: 60px;
 }

 .title-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 72px;
  margin-bottom: 20px;
 }

 .input-footer {
  // display: inline-block;
  width: 358px;

  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  list-style: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
 }

 // .button-footer {
 //  display: inline-block;
 //  position: absolute;
 //  right: -990px;
 // }

 .box-links {
  width: 270px;
  margin-right: 30px;
 }

 .box-emeil {
  width: 570px;
 }
}


.logo-footer {
 margin: 0;
 padding-top: 60px;
 padding-bottom: 20px;
 text-align: center;
}

.studio-footer {
 font-family: Raleway, sans-serif;
 font-weight: 700;
 font-size: 24px;
 line-height: 1.17;

 color: $second-accent-color;
}

address {
 font-style: normal;
 text-align: center;
}

.adress-footer {
 color: $second-accent-color;
}

.contacts-footer a {
 font-family: Roboto;
 font-weight: 400;
 font-size: 14px;
 line-height: 1.7;
 letter-spacing: 0.03em;

 text-decoration: none;

 color: rgba(255, 255, 255, 0.6);
}

.contacts li:not(:last-child) {
 margin-bottom: 8px;
}

.contacts li:last-child {
 margin-bottom: 60px;
}


.links-footer a {
 text-align: center;
 text-decoration: none;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links-footer {
 display: flex;
 justify-content: center;
 list-style: none;
 margin: 0;
 padding: 0;
 margin-bottom: 20px;
}

.links-footer a:hover,
.links-footer a:focus {
 color: $first-accent-color;
}

.footer-icon {
 fill: $second-accent-color;
}

.footer-list-icon {
 display: inline-flex;
 justify-content: center;
 align-items: center;
 width: 44px;
 height: 44px;
 border-radius: 50%;
 text-decoration: none;
 background: rgba(255, 255, 255, 0.1);
 transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo:not(:last-child) {
 margin-right: 10px;
}

.footer-list-icon:hover,
.footer-list-icon:focus {
 background-color: $first-accent-color;
}

.footer-list-icon:hover .footer-icon,
.footer-list-icon:focus .footer-icon {
 background-color: $first-accent-color;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-footer {
 // margin-top: 72px;
 margin-top: 60px;
 margin-bottom: 20px;

 font-weight: 700;
 font-size: 14px;
 line-height: 1.14;
 text-align: center;
 text-transform: uppercase;

 color: $second-accent-color;
}

.box-emeil {
 padding-bottom: 60px;
}

.input-footer {
 width: 100%;
 height: 50px;
 margin-bottom: 20px;

 font-size: 16px;
 line-height: 1.25;
 letter-spacing: 0.03em;
 color: rgba(255, 255, 255, 0.6);
 list-style: none;
 border: 1px solid rgba(255, 255, 255, 0.3);
 box-sizing: border-box;
 filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
 border-radius: 4px;
 background: #2f303a;
}

.input-footer::placeholder {
 padding-left: 16px;

 font-size: 16px;
 line-height: 1.25;
 letter-spacing: 0.03em;
 color: rgba(255, 255, 255, 0.6);
}

.button-footer {
 display: block;
 margin: auto;
 padding: 0;
 left: 0;
 width: 200px;
 height: 50px;
 font-weight: 700;
 font-size: 16px;
 line-height: 1.875;
 color: $second-accent-color;

 background: $first-accent-color;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 border-radius: 4px;
 border: 1px solid transparent;

 transition-property: background-color;
 transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 transition-delay: 0;

 &:hover,
 &:focus {
  background-color: #49a5f0;
 }
}

.button-footer::after {
 display: inline-block;
 background-repeat: no-repeat;
 content: "";
 width: 24px;
 height: 24px;
 margin-left: 10px;
 background-image: url("../images/footer_icon.svg");
 background-size: contain;
 top: 50%;
 transform: translateY(20%);
}